nav {
  background-color: #003152;
  display: flex;
  color: white;
}

.my-name {
  color: #f5a201;
}

.profile-pic {
  height: 100px;
  width: 100px;
}

.about-me {
  margin: 25px;
}

.prussian-blue {
  color: #003152;
}

.nav-header:hover {
  cursor: pointer;
}
